[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
xgboost = "*"
mlflow = "*"
joblib = "*"
google = "*"
google-cloud = "*"
google-auth = "*"
protobuf = "*"
packaging = "*"
optuna = "*"
flask = "*"
gunicorn = "*"
prefect = "*"

[dev-packages]

[requires]
python_version = "3.11"
